<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>Hello World</h2>
    <!-- <div class="assessment"></div>​
    <script>
      Traitify.setPublicKey("vb5317e0pcurjt9hn382bbe8it");
      Traitify.setHost("https://api-sandbox.traitify.com");
      Traitify.setVersion("v1");
      var assessmentId = 'd42bb058-ee15-4ba3-b816-fc5f438ae680';
      Traitify.ui.load(assessmentId, ".assessment")
    </script>​ -->

    <div id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
  </body>
</html>
